/* profile.css */

/* General styles */
.app_profile {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
    background-color: #000; /* Change background color to black */
    background-image: url('../images/dd1.png'); /* Add background image */
    background-position: center;
    color: #fff; /* Change text color to white */
  }
  
  /* User card styles */
  .user-section_profile {
    margin-top: 60px;
    margin-bottom: 20px;
  }
  
  .user-card_profile {
    display: flex;
    align-items: center;
    border: 1px solid #ccc;
    border-radius: 8px;
    padding: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  }
  
  .user-image_profile img {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    margin-right: 20px;
  }
  
  .user-details_profile {
    font-size: 16px;
  }
  
  /* Course card styles */
  .card-container_profile {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
  }
  
  .card_profile {
    background-color: rgba(255, 255, 255, 0.2); /* Semi-transparent white background */
    border-radius: 8px;
    padding: 10px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease;
  }
  
  .card_profile:hover {
    transform: translateY(-5px);
  }
  
  /* Grades card styles */
  .section_profile:not(:last-child) {
    margin-bottom: 40px;
  }
  
  /* Footer styles */
  .footer_profile {
    margin-top: auto;
    padding: 20px;
    background-color: rgba(0, 0, 0, 0.5); /* Semi-transparent black */
    color: #fff;
    text-align: center;
  }
  
  /* Custom hover effect for better interactivity */
  .card_profile:hover {
    background-color: rgba(255, 255, 255, 0.3); /* Semi-transparent white background */
  }
  